<% content_for :content do %>
	<div class="row">
		<div class="col-md-8">
		<% @posts.each do |item| %>
  			<% title = "#{item.title}" %></h1>
			<h3><%= link_to title.html_safe, post_path(item) %></h3>
			<p><%= truncate item.content.html_safe, length: 160 %> </p>
		<% end %>	
		</div>
		<div class="col-md-4">
			<%= render "post_category/categories" %>
		</div>
<%end%>		
 

